apiVersion: v1
kind: Namespace
metadata:
  name: {{ shared_namespace }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ shared_tls_secret_name }}
  namespace: {{ shared_namespace }}
spec:
  secretName: {{ shared_tls_secret_name }}
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - {{ shared_ingress_host }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ shared_ingress_name }}
  namespace: {{ shared_namespace }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - {{ shared_ingress_host }}
      secretName: {{ shared_tls_secret_name }}
  rules:
    - host: {{ shared_ingress_host }}
      http:
        paths:
{% for route in shared_ingress_routes %}
          - path: /{{ route.path_prefix }}(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ route.service_name }}
                port:
                  number: {{ route.service_port }}
{% endfor %}
