# DB バックアップの設定（Ansible により配置）
OCI_CLI_BIN={{ backup_oci_venv }}/bin/oci
OCI_VAULT_ID={{ oci_vault_id }}
BACKUP_SECRET_NAME={{ backup_secret_name }}
BACKUP_DB_USER={{ backup_db_user }}
BACKUP_BUCKET={{ backup_bucket_name }}
BACKUP_NAMESPACE={{ backup_namespace }}
BACKUP_TOPIC_ID={{ backup_topic_id }}
